.hero-section__heading {
  margin-top: 140px;
  font-weight: 500;
  font-size: 64px;
  line-height: 72px;
  /* or 112% */
  text-align: center;
  letter-spacing: -0.02em;
  /* Gray/200 */
  color: #E5E7EB;

}

.hero-section__text {
  margin-top: 28px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  text-align: center;
  letter-spacing: -0.02em;
  /* Gray/300 */
  color: #D1D5DB;
}

@media only screen and (max-width: 767px) {

  /* CSS styles for mobile screens */
  .hero-section__heading {
    font-weight: 500;
font-size: 28px;
line-height: 36px;
/* or 129% */

text-align: center;
letter-spacing: -0.02em;

  }

  .hero-section__text{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

text-align: center;

/* Gray/300 */

color: #D1D5DB;
  }
}