
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


:root{
    
}


body{
    background-color: #111827;
    color: white;
    /* Font */
    font-family: 'Space Grotesk';
    font-style: normal;
}
h1,h2,h3,h4,h5,h6,span,p,div{
  font-family: 'Space Grotesk';
  font-style: normal;
  margin:0px;
  padding:0px;
}

button{
  border:none;
  background: transparent;
}

.textLeft{
  text-align: left;
}

.textCenter{
  text-align: center;
}

.tilte{
    margin-top: 140px;
  font-weight: 500;
  font-size: 64px;
  line-height: 72px;
  /* or 112% */
  text-align: center;
  letter-spacing: -0.02em;
  /* Gray/200 */
  color: #E5E7EB;
}

.desc{
    margin-top: 28px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  letter-spacing: -0.02em;
  /* Gray/300 */
  color: #D1D5DB;
}

.worktitle{
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  letter-spacing: -0.02em;
  /* Gray/200 */
  color: #E5E7EB;
  
  margin-bottom: 12px;
  }

.smallFont{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */
  text-align: center;
  letter-spacing: -0.02em;
  /* Gray/300 */
  color: #D1D5DB;
  }

.nameFont{
  font-weight: 700;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

letter-spacing: -0.02em;

/* Gray/200 */

color: #E5E7EB;
}

.bluebtn{
  width: 208px;
  height: 56px;
  background: #6C4BEF;
  border-radius: 12px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  color: #F8FAFC;
}

.bluebtnText{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #F8FAFC;
}

.kindBorder{
  width: 456px;
  padding: 40px;
  background: rgba(31, 41, 55, 0.4);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;
}

.kindLeftBorder{
  padding: 40px 23px 40px 40px;
  background: rgba(31, 41, 55, 0.4);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;
}

.nameTitle{
  margin-top: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  /* Gray/300 */
  color: #D1D5DB;
}

.blueBox{
  padding: 40px 0px;
  height: 160px;
  /* Purple/500 */
  background: #6C4BEF;
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;
  margin-bottom: 112px;
}
.grey300{
  color:#D1D5DB;
}
.smallBtn{
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  text-align: center;
  /* Slate/50 */
  color: #F8FAFC;
  background: #6C4BEF;
  border-radius: 12px;
}

.footerClass{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */
  letter-spacing: -0.02em;
  /* Gray/300 */
  color: #D1D5DB;
}